*{
    margin:0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: rgb(195,113,250);
    background: linear-gradient(75deg, rgba(195,113,250,1) 0%, rgba(171,248,254,1) 50%, rgba(247,140,187,1) 100%);
}
.row{
    align-items: center;
    flex: auto;
    display: flex;
}
.p{
    text-align: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: aliceblue;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #ffd6d6;
}